<link href="/third.css" rel="stylesheet" type="text/css">

<h2>Building deadlier dungeons</h2>
<div id="main">
    <div id="chat">
        <div id="map">

        </div>
        <div id="talk">
            <div id="list">

            </div>
            <div id="chitchat">

            </div>
        </div>
    </div>
</div>
<div id="stats">

</div>
<div id="monster">
    
</div>